.available-devices {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 24px;
        
        &__item {
            text-align: center;
            h4 {
                margin-bottom: 24px;
                margin-top: 20px;
            }
            li {
                list-style: none;
            }
            img {
                max-width: 100%;
            }
        }
    }
}